## Automate Excel file download

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
import shutil
import glob
import os
from unicodedata import *
import time

In [2]:
# open a chrome browser using selenium 
driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Current google-chrome version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Driver [C:\Users\tsbloxsom\.wdm\drivers\chromedriver\win32\84.0.4147.30\chromedriver.exe] found in cache

In [3]:
# got to web page where excel file links are located
driver.get("https://www.dshs.texas.gov/coronavirus/additionaldata/")

In [4]:
# these options allow selenium to download files 
options = Options()
options.add_experimental_option("browser.download.folderList",2)
options.add_experimental_option("browser.download.manager.showWhenStarting", False)
options.add_experimental_option("browser.helperApps.neverAsk.saveToDisk", "application/octet-stream,application/vnd.ms-excel")

In [5]:
# initialize an object to the location on the html page and click on it to download
link = driver.find_element_by_xpath('/html/body/form/div[4]/div/div[3]/div[2]/div/div/ul[1]/li[1]/a')
link.click()

# Wait for 15 seconds to allow chrome to download file
time.sleep(15)

In [21]:
# locating most recent .xlsx downloaded file 
list_of_files = glob.glob('/Users/tsbloxsom/Downloads/*.xlsx') 
latest_file = max(list_of_files, key=os.path.getmtime)
print(latest_file)

/Users/tsbloxsom/Downloads\Texas COVID-19 Case Count Data by County (2).xlsx

In [22]:
# this is just a fun little tid bit but the unicode name for "\\" is:
print(name(u"\\"))

REVERSE SOLIDUS

In [23]:
# replace "\" with "/" so file path can be located by python
latest_file = latest_file.replace("\\", "/")
latest_file

'/Users/tsbloxsom/Downloads/Texas COVID-19 Case Count Data by County (2).xlsx'

In [24]:
# we need to locate the old .xlsx file(s) in the dir we want to store the new xlsx file in
list_of_files = glob.glob('/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/*.xlsx') 
print(list_of_files)

['/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks\\Texas COVID-19 Case Count Data by County.xlsx']

In [25]:
# need to delete old xlsx file(s) so if we download new xlsx file with same name we do not get an error while moving it
for file in list_of_files:
    print("deleting old xlsx file:", file)
    os.remove(file)

deleting old xlsx file: /Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks\Texas COVID-19 Case Count Data by County.xlsx

In [26]:
# Move the new file from the download dir to the github dir 
shutil.move(latest_file,'/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/')

'/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/Texas COVID-19 Case Count Data by County (2).xlsx'

## convert excel file to df and clean

In [28]:
import pandas as pd
import re

pd.set_option('display.max_rows', 500)
pd.options.display.max_colwidth = 150

In [29]:
# again we need to locate the .xlsx file 
list_of_files = glob.glob('/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file.split("\\")[-1])

Texas COVID-19 Case Count Data by County (2).xlsx

In [30]:
list_of_files

['/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks\\Texas COVID-19 Case Count Data by County (2).xlsx']

In [31]:
df = pd.read_excel("{}".format(latest_file),header=None)

In [32]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,148,149,150,151,152,153,154,155,156,157
0,"COVID-19 Total Cases by County, 3/4/2020 - 08/10/20 at 9:30 AM CST",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISCLAIMER: All data are provisional and are subject to change.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,County Name,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,...,Cases 08-01,Cases 08-02,Cases 08-03,Cases 08-04,Cases 08-05,Cases 08-06,Cases 08-07,Cases 08-08,Cases 08-09,Cases 08-10
3,Anderson,0,0,0,0,0,0,0,0,0,...,2209,2209,2307,2329,2355,2353,2379,2402,2402,2403
4,Andrews,0,0,0,0,0,0,0,0,0,...,255,266,267,268,273,277,279,297,297,304

In [33]:
# print out latest COVID data datetime and notes
date = re.findall("- [0-9]+/[0-9]+/[0-9]+ .+", df.iloc[0, 0])
print("COVID cases latest update:", date[0][2:])
print(df.iloc[1, 0])
#print(str(df.iloc[262:266, 0]).lstrip().rstrip())

#drop non-data rows
df2 = df.drop([0, 1, 258, 260, 261, 262, 263, 264, 265, 266, 267])

COVID cases latest update: 08/10/20 at 9:30 AM CST
DISCLAIMER: All data are provisional and are subject to change.

In [34]:
# clean column names
df2.iloc[0,:] = df2.iloc[0,:].apply(lambda x: x.replace("\r", ""))
df2.iloc[0,:] = df2.iloc[0,:].apply(lambda x: x.replace("\n", ""))
df2.columns = df2.iloc[0]
clean_df = df2.drop(df2.index[0])
clean_df = clean_df.set_index("County Name")

In [35]:
clean_df.head()

2,Cases 03-04,Cases 03-05,Cases 03-06,Cases 03-09,Cases 03-10,Cases 03-11,Cases 03-12,Cases 03-13,Cases 03-15,Cases 03-16,...,Cases 08-01,Cases 08-02,Cases 08-03,Cases 08-04,Cases 08-05,Cases 08-06,Cases 08-07,Cases 08-08,Cases 08-09,Cases 08-10
County Name,,,,,,,,,,,,,,,,,,,,,
Anderson,0,0,0,0,0,0,0,0,0,0,...,2209,2209,2307,2329,2355,2353,2379,2402,2402,2403
Andrews,0,0,0,0,0,0,0,0,0,0,...,255,266,267,268,273,277,279,297,297,304
Angelina,0,0,0,0,0,0,0,0,0,0,...,1647,1647,1647,1745,1755,1769,1796,1796,1796,1796
Aransas,0,0,0,0,0,0,0,0,0,0,...,153,157,158,158,162,165,169,172,173,177
Archer,0,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,21,21,21,21,21

In [37]:
clean_df.to_csv("Texas county COVID cases data clean.csv")