## Automate Excel file download

In [43]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
import shutil
import glob
import os
from unicodedata import *

In [11]:
# open a chrome browser using selenium 
driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Current google-chrome version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/84.0.4147.30/chromedriver_win32.zip

[WDM] - Driver has been saved in cache [C:\Users\tsbloxsom\.wdm\drivers\chromedriver\win32\84.0.4147.30]

In [12]:
# got to web page where excel file links are located
driver.get("https://www.dshs.texas.gov/coronavirus/additionaldata/")

In [13]:
# these options allow selenium to download files 
options = Options()
options.add_experimental_option("browser.download.folderList",2)
options.add_experimental_option("browser.download.manager.showWhenStarting", False)
options.add_experimental_option("browser.helperApps.neverAsk.saveToDisk", "application/octet-stream,application/vnd.ms-excel")

In [14]:
# initialize an object to the location on the html page and click on it to download
link = driver.find_element_by_xpath('/html/body/form/div[4]/div/div[3]/div[2]/div/div/ul[1]/li[1]/a')
link.click()

In [54]:
# locating most recent .xlsx downloaed file 
list_of_files = glob.glob('/Users/tsbloxsom/Downloads/*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file)

/Users/tsbloxsom/Downloads\Texas COVID-19 Case Count Data by County.xlsx

In [33]:
# this is just a fun little tid bit but the unicode name for "\\" is:
print(name(u"\\"))

REVERSE SOLIDUS

In [55]:
# replace "\" with "/" so file path can be located by python
latest_file = latest_file.replace("\\", "/")
latest_file

'/Users/tsbloxsom/Downloads/Texas COVID-19 Case Count Data by County.xlsx'

In [42]:
# Move the file from the directory download dir to github dir
shutil.move('/Users/tsbloxsom/Downloads/Texas COVID-19 Case Count Data by County (1).xlsx',\
            '/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/Texas COVID-19 Case Count Data by County (1).xlsx')

'/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/Texas COVID-19 Case Count Data by County (1).xlsx'

## convert excel file to df and clean

In [107]:
import pandas as pd
import re

pd.set_option('display.max_rows', 500)
pd.options.display.max_colwidth = 150

In [46]:
# again we need to locate the .xlsx file 
list_of_files = glob.glob('/Users/tsbloxsom/Documents/GitHub/Texas-census-county-data-project/Automate collecting of data notebooks/*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file.split("\\")[-1])

Texas COVID-19 Case Count Data by County (1).xlsx

In [101]:
df = pd.read_excel("{}".format(latest_file),header=None)

In [123]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
0,"COVID-19 Total Cases by County, 3/4/2020 - 08/06/20 at 9:30 AM CST",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISCLAIMER: All data are provisional and are subject to change.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,County Name,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,...,Cases 07-28,Cases 07-29,Cases 07-30,Cases 07-31,Cases 08-01,Cases 08-02,Cases 08-03,Cases 08-04,Cases 08-05,Cases 08-06
3,Anderson,0,0,0,0,0,0,0,0,0,...,2162,2172,2174,2196,2209,2209,2307,2329,2355,2353
4,Andrews,0,0,0,0,0,0,0,0,0,...,232,238,253,255,255,266,267,268,273,277

In [111]:
# print out latest COVID data datetime and notes
date = re.findall("- [0-9]+/[0-9]+/[0-9]+ .+", df.iloc[0, 0])
print("COVID cases latest update:", date[0][2:])
print(df.iloc[1, 0])
#print(str(df.iloc[262:266, 0]).lstrip().rstrip())

#drop non-data rows
df2 = df.drop([0, 1, 258, 260, 261, 262, 263, 264, 265, 266, 267])

COVID cases latest update: 08/06/20 at 9:30 AM CST
DISCLAIMER: All data are provisional and are subject to change.

In [119]:
# clean column names
df2.iloc[0,:] = df2.iloc[0,:].apply(lambda x: x.replace("\r", ""))
df2.iloc[0,:] = df2.iloc[0,:].apply(lambda x: x.replace("\n", ""))
df2.columns = df2.iloc[0]
clean_df = df2.drop(df2.index[0])
clean_df = clean_df.set_index("County Name")

In [120]:
clean_df.head()

2,Cases 03-04,Cases 03-05,Cases 03-06,Cases 03-09,Cases 03-10,Cases 03-11,Cases 03-12,Cases 03-13,Cases 03-15,Cases 03-16,...,Cases 07-28,Cases 07-29,Cases 07-30,Cases 07-31,Cases 08-01,Cases 08-02,Cases 08-03,Cases 08-04,Cases 08-05,Cases 08-06
County Name,,,,,,,,,,,,,,,,,,,,,
Anderson,0,0,0,0,0,0,0,0,0,0,...,2162,2172,2174,2196,2209,2209,2307,2329,2355,2353
Andrews,0,0,0,0,0,0,0,0,0,0,...,232,238,253,255,255,266,267,268,273,277
Angelina,0,0,0,0,0,0,0,0,0,0,...,1487,1566,1606,1606,1647,1647,1647,1745,1755,1769
Aransas,0,0,0,0,0,0,0,0,0,0,...,135,136,149,153,153,157,158,158,162,165
Archer,0,0,0,0,0,0,0,0,0,0,...,15,15,17,17,20,20,20,20,20,21

In [122]:
clean_df.to_csv("Texas county COVID cases data clean.csv")